@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.hero { 
    &__logo {
        display: none;

        @include mq() {
            display: block;
            position: absolute;
            top: 60px;
            left: 20px;
            z-index: 100;
            img {
                width: 150px;
                height: 150px;
                opacity: 0.5;
            }
        }
    }
    &__bg {
        position: relative;
            &__ttl {
                position: absolute;
                font-size: 32px;
                letter-spacing: 4px;
                writing-mode: vertical-lr;
                text-shadow: 10px 20px 8px #81C7F0;
                &-top {
                    position: absolute;
                    top: 10%;
                    right: 20%;

                    @include mq() {
                        top: 20%;
                    }
                }

                &-bottom {
                    bottom: 10%;
                    right: 30%;

                    @include mq() {
                        right: 50%;
                        bottom: 20%;
                    }
                }
            }        

    }

    &__img {
        img {
            height: 100vh;
            object-fit: cover;
            object-position: center bottom;

            @include mq() {
                object-position: right bottom;
            }
        }
    }



}