@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.news {

    @include mq() {
        padding: 20px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include mq() {
            flex-direction: column;
        }
    }

    &__ttl {
        font-size: 24px;
        width: 100px;
    }

    &__wrap {
        // margin-left: auto;
        margin-left: 100px;

        @include mq() {
            margin-left: 0;
            margin-top: 48px;
        }
    }

    &__lists  {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 200px auto;
        gap: 40px;
        margin-bottom: 60px;

        @include mq() {
            grid-template-columns: 200px;
            gap: 10px;
        }
        &__head {
            
        }

        &__body {
            width: 400px;
            margin-left: 60px;

            @include mq() {
                margin-left: 0;
                width: 350px;
            }
        }
    }

    &__more {
        // font-size: 16px;
        color: $accent-color;
        text-align: center;
        
        a {
            color: $accent-color;
            font-size: 18px;
            margin-right: 20px;
        }
    }

    
}