@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;

.footer {
    background: $base-color-white;
    color: $main-color;
    a {
        
        @include mq() {
            font-size: 16px;
        }
    }
    

    &__inner {
        padding: 50px;

        @include mq() {   
            padding: 20px;
        }
    }
    // Flexで3分割
    &__flex {

        @include mq("pc") {
            display: flex;
            justify-content: space-around;
        }
    
        @include mq() {
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            
        }
    }

    // left
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between; // 上下に配置

        @include mq() {
            margin-top: 20px;
            flex-direction: center;
        }

        &__link {
            vertical-align: top;
            a {
                color: $main-color;
            }
        }

        
    }

    // center
    &__center {
        
        @include mq() {
            
            margin-top: 40px;

        }
        &__access,
        &__address,
        &__tell,
        &__business__hours{
            margin-bottom: 40px;
            font-size: 16px;
            @include mq() {
                margin-bottom: 10px;
                margin-top: 12px;
            }
        }

        &__address {
            line-height: 1.5;
        }
    }

    // right デザイン専用のクラス
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between; // 上下に配置

        @include mq() {
            margin-top: 40px;
            flex-direction: row;
            flex-wrap: wrap;    
        }
        &__link {
            

            @include mq() {
                margin: 4px;
                width: calc(100% / 2 - 8px);
                text-align: center;
                border: 1px solid $main-color;
            }
            a {

                @include mq() {
                    display: inline-block;
                    padding: 10px;
                    text-align: center;
                }
                color: $main-color;
                
            }
        }
    }

    &__copy {
        // 下に配置されるようになります
        margin-top: 40px;
        font-size: 12px;
        text-align: center;

        @include mq("pc") {
            font-size: 14px;
        }
    }
}
