@use "sass:map";
@use "./variable" as *;
@use "./color" as *;



// max-width
// $breakpoints: (
//   "md": "screen and (max-width: 767px)",
//   "tab": "screen and (min-width: 768px) and (max-width: 1199px) ",
//   "pc": "screen and (min-width: 1200px)",
// ) !default;

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin btn( $padding :12px 100px, $bg :#C7B994 , $color : $main-color ) {
    margin-top: 20px;
    display: inline-block;
    padding: $padding;
    background: $bg;
    color: $color;
    border-radius: 4px;
    transition: 0.3s;
  
    &:hover {
      background: $rich-font;
      color: $main-color;
      border-color: $rich-font;
    }
  
}

@mixin contactBtn($height: 30px,$width:24px,$color:green) {
  width: $width;
  height: $height;
  background: #fff;
  border: 2px solid $color;
  display: inline-block;
  border-radius: 10px;
  transition: 0.3s;
  color: #333;
  cursor: pointer;
  @include mq() {
    width: 150px;
  }
  &:hover {
    background: $color;
    border: 2px solid #fff;
    color: #fff;
  }
}

@mixin bg-img($path, $size: cover, $pos: center center, $repeat: no-repeat) {
  background-image: url($path);
  background-size: $size;
  background-position: $pos;
  background-repeat: $repeat;
}